.total {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: 23px;
    background-color: white;
}

.total-sections {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 25px;
}

#total-sections0 ,#total-sections1 {
    border-left: 1px solid #ddd;
}

.total-sections .img-section {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
}

.total-sections .img-section::before {
    content: "";
    width: 100%;
    border: 6px solid;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border-color: #ddd;

}

.total-sections .img-section::after {
    content: "";
    width: 100%;
    border: 6px solid;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;

}

.total-sections #total0::after {
    border-color: #e83e8c #e83e8c #e83e8c transparent;
    
}

.total-sections #total1::after {
    border-color: #20c997 #20c997 transparent transparent;
    
}

.total-sections #total2::after {
    border-color: #6610f2 transparent transparent transparent;
    
}

.total-sections .img-section img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.total-sections .details h6 {
    font-size: 16px;
    font-weight: 400;
}

.total-sections .details h3 {
    font-size: 24px;
    
} 

.total-sections .details p {
    font-size: 14px;
    color: #757575;
} 

/* start BookingContainer */
.ToDay {
    margin-top: 50px;
}
.BookingContainer {
    background-color: var(--bs-white);
    padding: 20px;
}
.BookingContainer a{
  color: var(--bs-black);
  text-decoration: none;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.BookingContainer .BookingDoctorTabs {
    color: var(--bs-white);
    background-color: var(--bs-labany);
    margin-bottom: 30px;
}

.BookingContainer .BookingDoctorTabs:hover ,
.BookingContainer .BookingDoctorTabs:focus 
 {
    color: var(--bs-white);
    background-color: var(--bs-labany);
}
.booking-header {
    margin: 20px;
}