/* start DashSideBar */
.DashSideBar {
  background-color: var(--bs-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #eee;
  padding-top: 20px;
}
.DashSideBar .imgCont{
  width: 40%;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.DashSideBar .imgCont img {
  width: 100%;
}