/* start upcoming section */

/* start today section */
.ToDay table {
    width: 100%;
}
.ToDay tr {
    border-top: 1px solid #eee;
}
.ToDay td , 
.ToDay th{
    padding: 10px;
}
.NavToPatientProfile {

}
.NavToPatientProfile h4 {
    width: 30%;
    font-size: 22px;
}
.ToDayimgCont {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
@media (min-width: 768px) { 
    .ToDayimgCont {
        width: 25%;
    }
}
.ToDay td img {
    width: 100%;
}
.view-btn {
    color: white !important;
}
.Accept-btn {
    margin: 5px;
}

.patient-info h4 {
    font-size: 22px;
}
.patient-info span {
    font-size: 16px;
}